<!DOCTYPE html>
<html>
    <body>
        <table>
            <table border="1">
                <tr>
                    <th>차량 번호</th>
                    <th>차량 소속</th>
                    <th>차량 종류</th>
                    <th>차량 연식</th>
                    <th>차량 검사일</th>
                    <th>차량 검사 결과</th>
                </tr>
                <tr>
                    <td><%=info[0].car_id%></td>
                    <td><%=info[0].car_div%></td>
                    <td><%=info[0].car_type%></td>
                    <td><%=info[0].car_birth%></td>
                    <td><%=info[0].car_day%></td>
                    <td><%=info[0].car_result%></td>
                </tr>
            </table>
        </table>
    </body>
</html>